$chart-back: transparent;
$header-height: 60px;

$header-background: #3e4191;
$header-text-color: #6ccaf4;
$header-menu-text-color: white;
$activeButton: #121212;

$deployButton: #8C101C;
$deployButtonHover: #6E0A1E;
$deployButtonActive: #4C0A17;

$deployDisabledButton: #444;
$deployDisabledButtonHover: #555;
$deployDisabledButtonActive: #444;

$headerMenuBackground: lighten($header-background, 10%);
$headerMenuItemHover: lighten($headerMenuBackground, 10%);
$headerMenuItemDivider: lighten($headerMenuItemHover, 10%);

//$back: #6ccaf4;
$alternative-back: #a5d3e9;
$back : transparent;
$back-dark: transparent;
$back-light: transparent;

$inactive: darken($alternative-back,16%);
$hover: darken($alternative-back,8%);
$fore: white;
$color-disabled: darken($fore,10%);

$primary-border-color: darken($alternative-back,12%);
$secondary-border-color: darken($alternative-back,24%);

$button-active: darken($alternative-back,2%);
$popover-back: lighten($alternative-back,10%);

$form-placeholder-color: darken($fore,10%);
$form-input-focus-color:  rgba(85,150,230,0.8);


$node-selected-color: #ff7f0e;
$port-selected-color: #ff7f0e;
$link-color: #888;
$link-subflow-color: #bbb;
$link-unknown-color: #f00;

$tab-background-active: $alternative-back;
$tab-background-inactive: $inactive;
$tab-background-hover: $hover;

$tabs-fore: white;
$tabs-back: transparent;

$palette-fore: #3a3a3a;
$palette-back: transparent;
$palette-header-background: transparent;

$workspace-button-background: #fff;
$workspace-button-background-hover: #ddd;
$workspace-button-background-active: #efefef;
$workspace-button-color: #999;
$workspace-button-color-disabled: #ccc;
$workspace-button-color-focus: #999;
$workspace-button-color-hover: #666;
$workspace-button-color-active: #666;
$workspace-button-color-selected: #AAA;

$typedInput-button-background: #efefef;
$typedInput-button-background-hover: #ddd;
$typedInput-button-background-active: #e3e3e3;

#main-container {
  background: $alternative-back;
}

$notification-back: white;
$notification-fore: $notification-fore;

$dialog-back: white;
$dialog-back-dark: darken(white, 2%);
$dialog-fore: #666;

$sidebar-fore: white;
$sidebar-back: transparent;
$sidebar-content-back: transparentize(black, 0.4);

$tab-info-field-title-color: skyblue;
$tab-info-field-desc-color: white;
$tab-info-property-header-color: $tab-info-field-desc-color;

$sidebar-node-config-back: transparent;
$config-node-type-color: skyblue;

$forms-fore: black;
$forms-back: $back;
$forms-back-dark: black;
$forms-back-light: transparent;